<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/lara4594/Downloads/cloudair_media_h5p/help_me.mp3</key>
	<data>
	Ym9va/QCAAAAAAQQMAAAAHeilo2Apeoje0LC6ig+K7Wm2IwxXjrJ1qoPxonqyQfO8AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAASAAAAAQEAAGNsb3VkYWlyX21lZGlhX2g1cAAACwAAAAEBAABo
	ZWxwX21lLm1wMwAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABgAAAACAAAAAQDAAB11QkA
	AAAAAAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAAAcuA8DAAAA
	AAgAAAAEAwAARF8QAwAAAAAUAAAAAQYAAJAAAACgAAAAsAAAAMAAAADQAAAACAAAAAAE
	AABBvnDtIAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAD
	AAAAAAAAAAQAAAADAwAAfq3BTAgAAAABCQAAZmlsZTovLy8OAAAAAQEAAE01MDYtMjEx
	LTI3OTc1AAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwHZXul/xXCQAAAABAQAARTcy
	MjRFMzgtNUJEQi00NzhELUFENTMtODIzQTAxQTI1RTAzGAAAAAECAACBAAAAAQAAAO8T
	AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQ
	AAAABBAAAHQAAAAAAAAABRAAAOAAAAAAAAAAEBAAAAwBAAAAAAAAQBAAAPwAAAAAAAAA
	AiAAANwBAAAAAAAABSAAAEgBAAAAAAAAECAAAFgBAAAAAAAAESAAAJABAAAAAAAAEiAA
	AHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAAOgBAAAAAAAAAcAAACwB
	AAAAAAAAEcAAACAAAAAAAAAAEsAAADwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/lara4594/Downloads/localization_cloudair/customer_pose2.png</key>
	<data>
	Ym9vawADAAAAAAQQMAAAACwQ1xO63Ausb3y1a0vmOC/dBtm+h+/rzXhsCW2iGEUd/AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAVAAAAAQEAAGxvY2FsaXphdGlvbl9jbG91ZGFpcgAAABIAAAAB
	AQAAY3VzdG9tZXJfcG9zZTIucG5nAAAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABkAAAA
	CAAAAAQDAAB11QkAAAAAAAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAA
	AAQDAACE6BQDAAAAAAgAAAAEAwAAiegUAwAAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwA
	AADcAAAACAAAAAAEAABBwgJEMoAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAAfq3BTAgAAAABCQAAZmlsZTovLy8OAAAA
	AQEAAE01MDYtMjExLTI3OTc1AAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwHZXul/x
	XCQAAAABAQAARTcyMjRFMzgtNUJEQi00NzhELUFENTMtODIzQTAxQTI1RTAzGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAIAAAAAAAAAABRAAAOwAAAAAAAAAEBAAABgBAAAAAAAA
	QBAAAAgBAAAAAAAAAiAAAOgBAAAAAAAABSAAAFQBAAAAAAAAECAAAGQBAAAAAAAAESAA
	AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgBAAAAAAAAMCAAAPQB
	AAAAAAAAAcAAADgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAEgBAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
</dict>
</plist>
