<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/lara4594/Downloads/lead_generation_media/images/destinations/beach.jpg</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAB8y+vRgLkDwFNYnIB0fW9rEE1vVgXf0JaFS7M1nT9GtSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAVAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYQAAAAYAAAAB
	AQAAaW1hZ2VzAAAMAAAAAQEAAGRlc3RpbmF0aW9ucwkAAAABAQAAYmVhY2guanBnAAAA
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAZAAAAHQAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAANtXsgIAAAAACAAAAAQDAADnV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkqmQAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/hawaii1.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAGDX+7wZnysVQmzijPGdwsBXYlyEAwy97PYIHqmNc1KcTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMLAAAAAQEAAGhhd2FpaTEu
	anBnABwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA31eyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n8IAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/hawaii2.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAPCJ9RwGtchIXfnahwDlbCRGejkFEN6gEdtbmHymVrfeTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMLAAAAAQEAAGhhd2FpaTIu
	anBnABwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA4VeyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n8IAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/vietnam1.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAOiSmsXE5wL3YcKOhJPajy02P2UgKAC37/jTREbDGFJ8TAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMMAAAAAQEAAHZpZXRuYW0x
	LmpwZxwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA61eyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n7+AAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/vietnam2.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAADo2MkQwvhaRTEmyeE6DnQqAsVEy1GJrTv0os6/xTPbUTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMMAAAAAQEAAHZpZXRuYW0y
	LmpwZxwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA5VeyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n7+AAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
