<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/lara4594/Downloads/lead_generation_media/images/destinations/beach.jpg</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAB8y+vRgLkDwFNYnIB0fW9rEE1vVgXf0JaFS7M1nT9GtSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAVAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYQAAAAYAAAAB
	AQAAaW1hZ2VzAAAMAAAAAQEAAGRlc3RpbmF0aW9ucwkAAAABAQAAYmVhY2guanBnAAAA
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAZAAAAHQAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAANtXsgIAAAAACAAAAAQDAADnV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkqmQAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/audio/slide3_audio.wav</key>
	<data>
	Ym9vaygDAAAAAAQQMAAAAFHCfZRwqXPNQ/Qo0EOSEpv3Fu+t0hR0Ze3V9RW6VTiiJAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAF
	AAAAAQEAAGF1ZGlvAAAAEAAAAAEBAABzbGlkZTNfYXVkaW8ud2F2GAAAAAEGAAAQAAAA
	IAAAADAAAABEAAAAaAAAAHgAAAAIAAAABAMAAHXVCQAAAAAACAAAAAQDAAD+SiEAAAAA
	AAgAAAAEAwAAEEshAAAAAAAIAAAABAMAALNXsgIAAAAACAAAAAQDAAAMWLICAAAAAAgA
	AAAEAwAAEliyAgAAAAAYAAAAAQYAALAAAADAAAAA0AAAAOAAAADwAAAAAAEAAAgAAAAA
	BAAAQcHkw2sAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
	BAAAAAAAAAAEAAAAAwMAAH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIx
	MS0yNzk3NQAACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3
	MjI0RTM4LTVCREItNDc4RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAA
	EAAAAAQQAACQAAAAAAAAAAUQAAAQAQAAAAAAABAQAABAAQAAAAAAAEAQAAAwAQAAAAAA
	AAIgAAAQAgAAAAAAAAUgAAB8AQAAAAAAABAgAACMAQAAAAAAABEgAADEAQAAAAAAABIg
	AACkAQAAAAAAABMgAAC0AQAAAAAAACAgAADwAQAAAAAAADAgAAAcAgAAAAAAAAHAAABg
	AQAAAAAAABHAAAAgAAAAAAAAABLAAABwAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/hawaii1.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAGDX+7wZnysVQmzijPGdwsBXYlyEAwy97PYIHqmNc1KcTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMLAAAAAQEAAGhhd2FpaTEu
	anBnABwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA31eyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n8IAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/hawaii2.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAPCJ9RwGtchIXfnahwDlbCRGejkFEN6gEdtbmHymVrfeTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMLAAAAAQEAAGhhd2FpaTIu
	anBnABwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA4VeyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n8IAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/vietnam1.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAOiSmsXE5wL3YcKOhJPajy02P2UgKAC37/jTREbDGFJ8TAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMMAAAAAQEAAHZpZXRuYW0x
	LmpwZxwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA61eyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n7+AAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/destinations/vietnam2.jpg</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAADo2MkQwvhaRTEmyeE6DnQqAsVEy1GJrTv0os6/xTPbUTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAADAAAAAEBAABkZXN0aW5hdGlvbnMMAAAAAQEAAHZpZXRuYW0y
	LmpwZxwAAAABBgAAEAAAACAAAAAwAAAARAAAAGgAAAB4AAAAjAAAAAgAAAAEAwAAddUJ
	AAAAAAAIAAAABAMAAP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAA
	AAAIAAAABAMAALhXsgIAAAAACAAAAAQDAADbV7ICAAAAAAgAAAAEAwAA5VeyAgAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHB3n7+AAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAB+rcFMCAAAAAEJAABmaWxlOi8vLw4AAAABAQAATTUwNi0yMTEtMjc5NzUAAAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHAdle6X/FcJAAAAAEBAABFNzIyNEUzOC01QkRC
	LTQ3OEQtQUQ1My04MjNBMDFBMjVFMDMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAoAAA
	AAAAAAAFEAAANAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAApAEAAAAAAAAQIAAAtAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAiAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAmAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/slide3_background.png</key>
	<data>
	Ym9vazADAAAAAAQQMAAAAKiCevU6E91NOoFNFm7U5vQwVBpsVvsnHBKSKZ+uo//vLAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAAFQAAAAEBAABzbGlkZTNfYmFja2dyb3VuZC5wbmcAAAAYAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABoAAAAeAAAAAgAAAAEAwAAddUJAAAAAAAIAAAABAMA
	AP5KIQAAAAAACAAAAAQDAAAQSyEAAAAAAAgAAAAEAwAAs1eyAgAAAAAIAAAABAMAALhX
	sgIAAAAACAAAAAQDAADXV7ICAAAAABgAAAABBgAAuAAAAMgAAADYAAAA6AAAAPgAAAAI
	AQAACAAAAAAEAABBweTDKwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
	CAAAAAQDAAAEAAAAAAAAAAQAAAADAwAAfq3BTAgAAAABCQAAZmlsZTovLy8OAAAAAQEA
	AE01MDYtMjExLTI3OTc1AAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwHZXul/xXCQA
	AAABAQAARTcyMjRFMzgtNUJEQi00NzhELUFENTMtODIzQTAxQTI1RTAzGAAAAAECAACB
	AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////
	AQAAAAAAAAAQAAAABBAAAJgAAAAAAAAABRAAABgBAAAAAAAAEBAAAEgBAAAAAAAAQBAA
	ADgBAAAAAAAAAiAAABgCAAAAAAAABSAAAIQBAAAAAAAAECAAAJQBAAAAAAAAESAAAMwB
	AAAAAAAAEiAAAKwBAAAAAAAAEyAAALwBAAAAAAAAICAAAPgBAAAAAAAAMCAAACQCAAAA
	AAAAAcAAAGgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAHgBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana1.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAG6fpqFRaabT2vrReOABfEDaWxvxYu32HYev7df2vmGISAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTEucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADIV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw7WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana2.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAPHyj2B6/s7ut4no7CXfwzPqMLVhLtAWKmhRWAMQOoFZSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTIucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADAV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw7WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana3.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAEEY1hGdBLFWogfFQDtKDMn/X3oH/DNsgUh8f/imTxydSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTMucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADKV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw7WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana4.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAKNynTlKvhDjvyDzU1yJ1daX1TGtyHeo1y7FrnOtWnD5SAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTQucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADGV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw7WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana5.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAACP0DHqL6NdPo5skAToVUw3Q0PL7dpw/t7+NQltuOoFsSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTUucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADMV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw7WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/susanna/sussana6.png</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAIv3ZgYep/lblivcWCIYShGEE/TeRSw5S+mU6IID8CFLSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAABwAAAAEBAABzdXNhbm5hAAwAAAABAQAAc3Vzc2FuYTYucG5n
	HAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAACIAAAACAAAAAQDAAB11QkAAAAA
	AAgAAAAEAwAA/kohAAAAAAAIAAAABAMAABBLIQAAAAAACAAAAAQDAACzV7ICAAAAAAgA
	AAAEAwAAuFeyAgAAAAAIAAAABAMAALlXsgIAAAAACAAAAAQDAADEV7ICAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHkw+WAAAAYAAAA
	AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMA
	AH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAAAAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcB2V7pf8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4
	RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAA
	AAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACgAQAAAAAAABAgAACwAQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACEAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/lara4594/Downloads/lead_generation_media_h5p/images/virtualVacations_logo.png</key>
	<data>
	Ym9vazQDAAAAAAQQMAAAABZjlndtHlv4F31jkuozvR7gdyKl5VbASePpPdOy4ZLvMAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGxhcmE0NTk0CQAAAAEB
	AABEb3dubG9hZHMAAAAZAAAAAQEAAGxlYWRfZ2VuZXJhdGlvbl9tZWRpYV9oNXAAAAAG
	AAAAAQEAAGltYWdlcwAAGQAAAAEBAAB2aXJ0dWFsVmFjYXRpb25zX2xvZ28ucG5nAAAA
	GAAAAAEGAAAQAAAAIAAAADAAAABEAAAAaAAAAHgAAAAIAAAABAMAAHXVCQAAAAAACAAA
	AAQDAAD+SiEAAAAAAAgAAAAEAwAAEEshAAAAAAAIAAAABAMAALNXsgIAAAAACAAAAAQD
	AAC4V7ICAAAAAAgAAAAEAwAA8leyAgAAAAAYAAAAAQYAALwAAADMAAAA3AAAAOwAAAD8
	AAAADAEAAAgAAAAABAAAQcHeeukAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
	AAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAH6twUwIAAAAAQkAAGZpbGU6Ly8vDgAA
	AAEBAABNNTA2LTIxMS0yNzk3NQAACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcB2V7pf
	8VwkAAAAAQEAAEU3MjI0RTM4LTVCREItNDc4RC1BRDUzLTgyM0EwMUEyNUUwMxgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA
	/v///wEAAAAAAAAAEAAAAAQQAACcAAAAAAAAAAUQAAAcAQAAAAAAABAQAABMAQAAAAAA
	AEAQAAA8AQAAAAAAAAIgAAAcAgAAAAAAAAUgAACIAQAAAAAAABAgAACYAQAAAAAAABEg
	AADQAQAAAAAAABIgAACwAQAAAAAAABMgAADAAQAAAAAAACAgAAD8AQAAAAAAADAgAAAo
	AgAAAAAAAAHAAABsAQAAAAAAABHAAAAgAAAAAAAAABLAAAB8AQAAAAAAABDQAAAEAAAA
	AAAAAA==
	</data>
</dict>
</plist>
